// -------------------------------
// 颜色变量
// -------------------------------
$color-primary: #e3106d !default; //主色调-粉红色
$color-wait: #787878 !default; //等待
$color-more: #d7d7d7 !default; //更多
//
$font-family: "Helvetica Neue","San Francisco"; //ios字体

// 字体颜色变量
// -------------------------------
$color-title-h2: #282828 !default; //h2
$color-title-h3: #e9408a !default; //h3
$color-text: #737373 !default; //h2-en
$color-pic-title: #282828 !default; //h3
$color-border: #a9a9a9 !default; //title-border
